[cms]
splunkcm0.cloudmegalodon.us


[idxrs]
splunkidxr[0:3].cloudmegalodon.us

[shs]
splunksh0.cloudmegalodon.us

[dmcs]

[ds]
splunkds0.cloudmegalodon.us

[lms]
splunklm0.cloudmegalodon.us

[standalone]
splunk0.cloudmegalodon.us

[ufs]
